# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/

# Virtual environment
.venv/

#Environment files
.env
.env.*.local

# Generated artifacts / cache
cache/
cache/**/*.pkl
*.pkl

# Tooling
.python-version
uv.lock.bak

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / temp
*.log
tmp/
.temp/
